version: "3.8"

services:
  postgresql:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: lexorank
      POSTGRES_USER: lexorank
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  mysql:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: lexorank
      MYSQL_DATABASE: lexorank
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
